.popup__close {
  background-image: url(../../../images/closebtn.svg);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  right: 0px;
  top: -36px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 500ms linear;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (min-width:918px) {
  .popup__close {
    background-image: url(../../../images/closebtnbig.svg);
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
