.header__logo {
  margin-left: 27px;
  margin-top: 28px;
  margin-bottom: 31.6px;
  max-width: 103.74px;
}

@media (min-width:918px) {
  .header__logo {
    min-width: 142px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 41px;
  }
}
