.content__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 500ms linear;
  padding-left: 16px;
}

.content__like:hover {
  opacity: 0.5;
}
