.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #545454;
  margin: 0;
}

@media (min-width:918px) {
  .footer__copyright {
    line-height: 21.78px;
    font-size: 18px;
  }
}
