.profile__info-name {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  max-width: 189px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width:918px) {
  .profile__info-name {
    max-width: 294px;
    font-size: 42px;
    line-height: 48px;
  }
}
