@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/popup/__profile/popup__profile.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__box/popup-image__box.css);
@import url(./blocks/popup-new-place/popup-new-place.css);
@import url(./blocks/popup/__avatar/popup__avatar.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info-heading/profile__info-heading.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-image/profile__add-button-image.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__item-image/content__item-image.css);
@import url(./blocks/content/__item/content__item.css);
@import url(./blocks/content/__title/content__title.css);
@import url(./blocks/content/__item-info/content__item-info.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-heading/popup__container-heading.css);
@import url(./blocks/popup/__container-button/popup__container-button.css);
@import url(./blocks/popup/__container-field/popup__container-field.css);
@import url(./blocks/popup/__edit-profile/popup__edit-profile.css);
@import url(./blocks/content/__like/content__like.css);
@import url(./blocks/content/__like/_active/content__like_active.css);
@import url(./blocks/content/__trash/content__trash.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__name/popup-image__name.css);
@import url(./blocks/popup/__container-button/_disabled/popup__container-button_disabled.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-box/popup__input-box.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/content/__like-container/content__like-container.css);
@import url(./blocks/content/__like-counter/content__like-counter.css);
