.content__like_active{
    background-image: url(../../../../images/like_active.svg);
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
    padding-left: 16px;
  }
