.popup__container-field {
  min-width: 238px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 16.94px;
  outline: none;
}

.popup__container-field_error{
  border-bottom: 1px solid #FF0000;
}

@media (min-width:918px) {
  .popup__container-field {
    min-width: 358px;
  }
}
